body {
    background-color: black ;
    color: white;
}


tr:nth-child(even){background-color: #2196F3;}

 tr:nth-child(odd){background-color: #4be1ff;}

tr:hover {background-color: #f83333;}

 th {
    background-color: #4CAF50;
    color: white;
}


#error{
    color: red;
}

#goodnews{
    color: green;
}