/*
https://www.codeply.com/p/FR2cRBUfMl
 */

tbody {
    display:block;
    height:200px;
    overflow : auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    text-overflow: clip;
}
thead {

}