body {
    background-color: gray ;
}


.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

 td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

 tr:nth-child(even){background-color: #FF5722;}

 tr:nth-child(odd){background-color: #ff666d;}

 tr:hover {background-color: #335af8;}

 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

 .admin{
     display:none
 }

 #error{
     color: red;
 }

 #goodnews{
     color: green;
 }